[submodule "morgue"]
	path = morgue
	url = git@github.com:etsy/morgue.git
[submodule "modules/apache"]
	path = modules/apache
	url = git@github.com:puppetlabs/puppetlabs-apache.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git@github.com:puppetlabs/puppetlabs-mysql.git
[submodule "modules/php"]
	path = modules/php
	url = git@github.com:mayflower/puppet-php.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/concat"]
	path = modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "modules/remi"]
	path = modules/remi
	url = git@github.com:lboynton/puppet-remi.git
[submodule "modules/epel"]
	path = modules/epel
	url = git@github.com:stahnma/puppet-module-epel.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = git@github.com:puppetlabs/puppetlabs-inifile.git
